.main-second-col ul li {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

@media(min-width: 767.98px) {
    .main-second-col h2 {
        text-align: center;
    }

    .main-second-col {
        margin-left: 20%;
        margin-right: 20%;
    }

    .main-second-col.main-second-col-short {
        margin-left: 30%;
        margin-right: 30%;
    }
}
